

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

ul {
  padding: 20px;
}

li {
  list-style: none;
}

.criarLink {
  box-shadow: 3px 7px 12px -7px #9fb4f2;
	background:linear-gradient(to bottom, #a2bdeb 5%, #476e9e 100%);
	background-color:#a2bdeb;
  border: none;
	border-radius:40px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.criarLink:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #a2bdeb 100%);
	background-color:#476e9e;
}

.criarLink:active {
	position:relative;
	top:1px;
}

.itens {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius: 40px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin: 10px;
}
.itens:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.itens:active {
	position:relative;
	top:1px;
}

.edit {
	box-shadow:inset 0px 0px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:40px;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 20px;
  margin: 10px;
	text-decoration:none;
}
.edit:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.edit:active {
	position:relative;
	top:1px;
}

.delete {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:40px;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
}
.delete:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.delete:active {
	position:relative;
	top:1px;
}